<div class="panel panel-default">
      <div class="panel-heading center">
      
<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="form-group">
    <%= f.label :image %> <br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control des" %>
  </div>
  <div class="form-group">
    <%= f.label :body_text %><br>
    <%= f.text_area :body_text, :row => 60, class: "form-control bdy" %>
  </div>
  <div class="form-group">
            <%= f.submit "BLOG IT", class: "btn btn-success btn-lg btn-block txt-lg" %>

  </div>
<% end %>
</div>
</div>