<div class="conainter-flex">
<div class="wrapperimg" style="height: 100%; width: 100%;">

<div class="container">
		<div class="conht">

			<div class="col-md-12 ">
		
			<h1 style="color:#fff;text-shadow:1px 1px 1px #333, 0px 0px 10px #8CC152;position:relative;  text-align: center;">TIPS FOR THE BUDGET-CONSCIOUS TRAVELER</h1>
			
			</div>
			<div class="col-md-8">
			<h1 style="color:#fff;position:relative; text-shadow: 1px 1px 1px #333, 0px 0px 10px #8CC152;text-align:right;">See our budget & where we are now </h1>
			</div>
			<div class="col-md-4 left">
			<div style="margin-top: 20px;
margin-bottom: 10px;">
			<a href="/legs" onClick="ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'TrackUsBtn', eventLabel: 'Clicked'});" class="btn btn-success btn-block" style="position:relative; "><h1 style="margin:0;">TRACK US!</h1></a>
			</div>
			</div>
			
<!-- 			Add this in for newsletter -->
			<!--
<div class="col-md-12 text-center">
			</div>
			<div class="col-md-8">
									<h1 style="color:#fff;position:relative; text-shadow: 1px 1px 1px #333, 0px 0px 10px #8CC152;">Sign up to receive our latest blog</h1>

			</div>
			<div class="col-md-4">

			<div class="form-group emailfrom">
    
			 			 
			 </div>
			</div>
			</div>
		</div>
-->
</div>


</div>
</div>

<div class="container-flex">
<div style="border-top: #cccccc 4px solid;" ></div>
</div>


<div class="container" style="padding-top: 10px;" >
	<h1 style="opacity: .99 !important;  font-weight: 400; font-size: 40px; text-shadow: 1px 1px #656D78;">SO YOU WANT TO TRAVEL?</h1>

	<div class="center" style="background-color: white; opacity: .8;background-attachment: scroll; position: relative;"> 

		<div id="blogs" class="transitions-enabled" style="width: 100% !important;">
<% @blogs.each do |blog| %>
<div class="box panel panel-default">
      <%= link_to image_tag(blog.image.url(:medium)), blog, :onClick => "ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'BlogImg', eventLabel: 'Clicked'});" %>
      <div class="panel-body">
      <h3><%= blog.title %></h3><br>
      <h5 class="loco">Location: <%= blog.category %></h5><br>
      <p class="parach"><%= blog.description %></p><br>
      <div class="fl-rt">
      <%= link_to 'Read More', blog, class: "btn btn-success", :onClick => "ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'BlogBtn', eventLabel: 'Clicked'});"  %></div><br>
      <% if blog.user == current_user %>
        <div class="fl-rt2"><%= link_to 'Edit', edit_blog_path(blog) %> |
        <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
			<div class="text-center" >
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>


