<div class="container">
<div id="blogs" class="transitions-enabled">
<% @blogs.each do |blog| %>
<div class="box panel panel-default">
      <%= image_tag blog.image.url(:medium) %>
      <div class="panel-body">
      <%= blog.title %>
      <%= blog.description %>
      <%= link_to 'Show', blog %>
      <% if blog.user == current_user %>
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>