

<div class="wrapperimg" style="height: 603px; width: 100%;">
<div class="container">

<!-- <button id="#blog" class="btn btn-success"><a href="#blog">TREK YOURSELF</a></button> -->

</div> </div><a name="blog"></a>
<div style="border-top: #cccccc 4px solid;"></div>
<div class="container" style="padding-top: 10px;" >
<h1 style="opacity: .99 !important; font-family: 'lobster'; font-weight: 800; font-size: 40px; text-shadow: 1px 1px #656D78;">SO YOU WANT TO TRAVEL?</h1>
<div style="background-color: white; opacity: .8;background-attachment: scroll; position: relative;"> 

<div id="blogs" class="transitions-enabled" style="width: 100% !important;">
<% @blogs.each do |blog| %>
<div class="box panel panel-default">
      <%= link_to image_tag(blog.image.url(:medium)), blog %>
      <div class="panel-body">
      <h3><%= blog.title %></h3><br>
      <h5 class="loco">Location: <%= blog.category %></h5><br>
      <p class="parach"><%= blog.description %></p><br>
      <div class="fl-rt">
      <%= link_to 'Read More', blog, class: "btn btn-success" %></div><br>
      <% if blog.user == current_user %>
        <div class="fl-rt2"><%= link_to 'Edit', edit_blog_path(blog) %> |
        <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="text-center" >
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>
</div>

