

<div class="wrapperimg" style="height: 1000px; ">
<div class="container">

<button id="#blog" class="btn btn-success"><a href="#blog">TREK YOURSELF</a></button>

</div> </div><a name="blog"></a>
<div class="container" style="padding-top: 50px;" >
<h1 style="opacity: .99 !important;">Trekker.co</h1>
<p >Trek yourself before you rek yourself!</p>
<button class="btn btn-success">TREK YOURSELF</a></button>

<div style="background-color: white; opacity: .8;background-attachment: scroll; position: relative;"> 

<div id="blogs" class="transitions-enabled" style="width: 100% !important;">
<% @blogs.each do |blog| %>
<div class="box panel panel-default">
      <%= image_tag blog.image.url(:medium) %>
      <div class="panel-body">
      <%= blog.title %>
      <%= blog.description %>
      <%= link_to 'Show', blog %>
      <% if blog.user == current_user %>
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div></div>
</div>
</div>

