<div class="conainter-flex">
<div class="wrapperimg" style="height: 100%; width: 100%;">

<div class="container">
		<div class="conht">

			<div class="col-md-12 ">
		
			<h1 class="bud_con">TIPS FOR THE BUDGET-CONSCIOUS TRAVELER</h1>
			
			</div>
			<div class="col-md-8">
			<h1 class="bud_now">See our budget & where we are now </h1>
			</div>
			<div class="col-md-4 left">
			<div class="trackbtn">
			<a href="/legs" onClick="ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'TrackUsBtn', eventLabel: 'Clicked'});" class="btn btn-success btn-block" style="position:relative; "><h1 class="trackus" style="margin:0;">TRACK US!</h1></a>
			</div>
			</div>
			
<!-- 			Add this in for newsletter -->
			<div class="col-md-12 text-center">
			</div>
			<div class="col-md-8">
									<h1 class="blog_signup">Sign up to receive our latest blog</h1>

			</div>
			<div class="col-md-4">

			<div class="form-group emailfrom">
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//trekker.us9.list-manage.com/subscribe/post?u=3dc32f01779b9c72581e352ab&amp;id=7c93db119b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_3dc32f01779b9c72581e352ab_7c93db119b" tabindex="-1" value=""></div>
    <div class="clear emailbtn"><input type="submit" value="SUBSCRIBE" name="Subscribe" id="mc-embedded-subscribe" class="btn btn-success btn_fx" ></div>
</form>
</div>

<!--End mc_embed_signup-->
			 			 
			 </div>
			</div>
			</div>
		</div>
</div>


</div>
</div>

<div class="container-flex">
<div style="border-top: #cccccc 4px solid;" ></div>
</div>


<div class="container" style="padding-top: 10px;" >
	<h1 style="opacity: .99 !important;  font-weight: 400; font-size: 40px; text-shadow: 1px 1px #656D78;">SO YOU WANT TO TRAVEL?</h1>

	<div class="center" style="background-color: white; opacity: .8;background-attachment: scroll; position: relative;"> 

		<div id="blogs" class="transitions-enabled" style="width: 100% !important;">
<% @blogs.each do |blog| %>
<div class="box panel panel-default">
      <%= link_to image_tag(blog.image.url(:medium)), blog, :onClick => "ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'BlogImg', eventLabel: 'Clicked'});" %>
      <div class="panel-body">
      <h3><%= blog.title %></h3><br>
      <h5 class="loco">Location: <%= blog.category %></h5><br>
      <p class="parach"><%= blog.description %></p><br>
      <div class="fl-rt">
      <%= link_to 'Read More', blog, class: "btn btn-success", :onClick => "ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'BlogBtn', eventLabel: 'Clicked'});"  %></div><br>
      <% if blog.user == current_user %>
        <div class="fl-rt2"><%= link_to 'Edit', edit_blog_path(blog) %> |
        <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
			<div class="text-center" >
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>


