
<div class="container" style="height:30px; position: relative; top:3px;">

  
  <%= link_to 'Back', blogs_path, class: "label label-success" %>


</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @blog.image.url(:medium), class: "imgwd" %>
      </div>
      <div class="panel-body">
      <h2><%= @blog.title %></h2>
      <h5>Location: <%= @blog.category %></h5>
        <p style="padding:10px 0px; font-size: 18px;"><%=raw @blog.body_text %></p>
        <% if @blog.user == current_user %><br>
		<%= link_to 'Edit', edit_blog_path(@blog) %>
		<% end %>

      </div>
    </div>
  </div>
</div>