
		<div class="container bckbtn">
<!-- 		  <div class="col-md-2"></div> -->
			<div class="col-md-8">
			  <%= link_to 'Back', blogs_path, class: "label label-success" %>
			</div>
		  <div class="col-md-2"></div> 
		</div>
		<div class="container">
<!-- 			<div class="col-md-2"></div> -->
			  <div class="col-md-9">
			    <div class="box2 panel panel-default">			      
			        <%= image_tag @blog.image.url(:large), class: "imgwd" %>
			      <div class="panel-body">
				        <h2><%= @blog.title %></h2>
				        <h5>Location: <%= @blog.category %></h5>
				        <p style="padding:10px 0px; font-size: 18px;"><%=raw @blog.body_text %></p>
				        <% if @blog.user == current_user %><br>
						<%= link_to 'Edit', edit_blog_path(@blog) %>
						<% end %>
			
			      </div>
			   </div>
		     </div>
            <div class="col-md-2"></div>
            
<!--   If we ever want to add a side bar delete both col-md-2 above, make col-md-8 col-md-9 and add in code below -->			   
		 <div class="col-md-3">
				  
					  
					    <div class="panel panel-success">
	                       <div class="panel-heading text-left"><h5>Trekker.co on Instagram <%= link_to 'http://instagram.com/trekkerdotco?ref=badge', :target => "_blank" do %>    
	                       <%= image_tag "instagram.png", :style => "width: 20px; float: right;", class: "instafoot" %></h5>
	                       <% end %>
	                       </div>
	                         <div class="panel-body">
							   	<div class="insta" id="instafeed">
								   	
							   	</div>
							   	

							 </div>
							 <!--
<div class="panel-footer text-right"> <h4 class="instafoot"><span>Trek Us</span>
							   	<style>.ig-b- { display: inline-block; }
									.ig-b- img { visibility: hidden; }
									.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
									.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
									@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }</style>
									<a href="http://instagram.com/trekkerdotco?ref=badge" class="ig-b- ig-b-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a></h4></div>
-->
					       </div>
						</div>
					  
				  
			   </div>
		</div>
		
		
		
<!-- 		instagram -->
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1391563010,
        accessToken: '1391563010.467ede5.619c49990ba54786be11544561bd6a14',
        sortBy: 'most-recent',
        limit: '12',
        resolution: 'thumbnail',
        template: '<a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /></div></a>'
    });
    userFeed.run();

</script>
<!-- add in for like -->
<!-- <a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /><div class="likes"><span class="hearts">&hearts;</span> {{likes}}</div></a> -->