
		<div class="container bckbtn">
			<div class="col-md-12">
			  <%= link_to 'Back', blogs_path, class: "label label-success" %>
			</div>
		</div>
		<div class="container">
			  <div class="col-md-9">
			    <div class="box3 panel panel-default">			      
			        <%= image_tag @blog.image.url(:large), class: "imgwd" %>
			      <div class="panel-body">
			      <div class="tab_container">
					      <% if @blog.bg_im_1.present? %>
						      <%= link_to @blog.bg_im_1.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_1_des}" do %> 
								  <%= image_tag @blog.bg_im_1.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_2.present? %>
			    	          <%= link_to @blog.bg_im_2.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_2_des}" do %> 
								  <%= image_tag @blog.bg_im_2.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_3.present? %>
			    	          <%= link_to @blog.bg_im_3.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_3_des}" do %> 
								  <%= image_tag @blog.bg_im_3.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_4.present? %>
			    	          <%= link_to @blog.bg_im_4.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_4_des}" do %> 
								  <%= image_tag @blog.bg_im_4.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_5.present? %>
			    	          <%= link_to @blog.bg_im_5.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_5_des}" do %> 
								  <%= image_tag @blog.bg_im_5.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_6.present? %>
			    	          <%= link_to @blog.bg_im_6.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_6_des}" do %> 
								  <%= image_tag @blog.bg_im_6.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_7.present? %>
			    	          <%= link_to @blog.bg_im_7.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_7_des}" do %> 
								  <%= image_tag @blog.bg_im_7.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
		    	          
		    	          <% if @blog.bg_im_8.present? %>
			    	          <%= link_to @blog.bg_im_8.url(:large), :class => "fancybox", :rel => "gallery1", :title => "#{@blog.im_8_des}" do %> 
								  <%= image_tag @blog.bg_im_8.url(:thumb) %>
			    	          <% end %>
		    	          <% end %>
			      </div>
				        <h2><%= @blog.title %></h2>
				        <h5>Location: <%= @blog.category %></h5>
				        <p style="padding:10px 0px; font-size: 18px;"><%=raw @blog.body_text %></p>
				        <% if @blog.user == current_user %><br>
						<%= link_to 'Edit', edit_blog_path(@blog) %>
						<% end %>
			
			      </div>
			   </div>
		     </div>
           
            
<!--   If we ever want to add a side bar delete both col-md-2 above, make col-md-8 col-md-9 and add in code below -->			   
		<% if user_signed_in? %>

<div class="col-md-3">

	

<div class="panel panel-success">
	                       <div class="panel-heading text-left">Admin Panel
	                       </div>
	                       <div class="panel-body">
	                       <ul>
		                       <li><%= link_to new_blog_path do %>
							   		<span class="glyphicon glyphicon-plus"></span> New Blog
							   		<% end %>
							   	</li>
							   	<li><%= link_to new_leg_path do %>
							   		<span class="glyphicon glyphicon-plus"></span> New Leg
							   		<% end %>
							   	</li>
							   	<li><%= link_to "Account Settings", edit_user_registration_path %></li>
							   	<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	                       </ul>
	                       </div>
</div>
</div>


<% else %>   
		 <div class="col-md-3">
			 
						    <div class="panel panel-success">
	                       <div class="panel-heading text-left"><h5 class="fntchg">Trekker.co on Instagram <%= link_to 'http://instagram.com/trekkerdotco?ref=badge', :target => "_blank" do %>    
	                       <%= image_tag "instagram.png", :style => "width: 20px; float: right;", class: "instafoot" %></h5>
	                       <% end %>
	                       </div>
	                         <div class="panel-body">
							   	<div class="insta" id="instafeed">
								   	
							   	</div>
							   	

							 </div>
					       </div>					    
						    <% if @blog.leg_link? %>
						    <div class="panel panel-success">
	                       <div class="panel-heading text-center"><h4 class="fntchg2">See The Total Cost of This Leg</h4>   
	                       
	                       </div>
	                         <div class="panel-body">
							   	<div>
							   	
							   	<%= link_to "Details Here", leg_path(@blog.leg_link), :class => "btn btn-success btn-block fntchg2", :onClick => "ga('send', 'event', { eventCategory: 'FrontPage', eventAction: 'BlogCostTotal', eventLabel: 'Clicked'});" %>
								   
							   	</div>
							   	

							 </div>
					       </div>
			 
						    		<% end %>				    						
			 
					
		</div>	
		  
			   
		<% end %> 
		</div> 
		
		
<!-- 		instagram -->
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1391563010,
        accessToken: '1391563010.467ede5.619c49990ba54786be11544561bd6a14',
        sortBy: 'most-recent',
        limit: '12',
        resolution: 'thumbnail',
        template: '<a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /></div></a>'
    });
    userFeed.run();

</script>

<!-- add in for like -->
<!-- <a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /><div class="likes"><span class="hearts">&hearts;</span> {{likes}}</div></a> -->