<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">


 
<%= form_for(@leg) do |f| %>
  <% if @leg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leg.errors.count, "error") %> prohibited this leg from being saved:</h2>

      <ul>
      <% @leg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <table class="table  table-hover table-bordered">
	<tr>
		<td>
			<div class="form-group">
			    <%= f.label :map_img %> <br>
				 <div class="btn btn-success btn-meduim crser col-xs-12">Upload your Image
				    <%= f.file_field :map_img, class: "form-control upload" %>
				 </div>
			</div>
		</td>
		
		<td class="success">
			<div class="form-group">
			    <%= f.label :total_cost %> <br>
				 <div>Leg Cost need to add $
				    <%= f.text_field :total_cost, class: "form-control" %>
				 </div>
			</div>
		</td>
		
		<td class="info">
			<div class="form-group">
			    <%= f.label :leg_header %> <br>
				 <div>Leg title
				    <%= f.text_field :leg_header, class: "form-control" %>
				 </div>
			</div>
		</td>
	</tr>
 </table> 
  <table class="table  table-hover table-bordered">
	  <tr>
		  <td>
		  <div class="form-group">
		    <%= f.label :leg_description %> <br>
			 <div class="btn btn-danger btn-meduim crser ">Leg Cost need to add $
			    <%= f.text_area :leg_description,:rows => 8, :cols => 110, class: "form-control" %>
			 </div>
		  </div>
		  </td>
	  </tr>
  </table>
<table class="table  table-hover table-bordered">
<tr class="success">
 <th >Tranportation</th>
 <th>Cost (dont need $)</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <tr >
 <td>AIR</td>
 <td><div class="form-group">
 <%= f.text_field :tran_air_cost, class: "form-control" %></div>
  </td>
 <td class="form-group">
 <%= f.text_area :tran_air_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
 <tr>
  <tr>
 <td>Train</td>
 <td class="form-group">    
 <%= f.text_field :tran_train_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :tran_train_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 <tr>
   <tr>
 <td>Bus</td>
 <td class="form-group">    
 <%= f.text_field :tran_bus_cost, class: "form-control" %>
</td>
 <td class="form-group">   
  <%= f.text_area :tran_bus_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 
 <tr>
 <td>Metro</td>
 <td class="form-group">
 <%= f.text_field :tran_met_cost, class: "form-control" %>
</td>
 <td  class="form-group">
 <%= f.text_area :tran_met_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>

 <tr>
 <td>Taxi</td>
 <td class="form-group">
 <%= f.text_field :tran_taxi_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :tran_taxi_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 
  <tr>
 <td>Car Rental</td>
 <td class="form-group">
 <%= f.text_field :tran_car_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :tran_car_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 
  <tr>
 <td>Ferry</td>
 <td class="form-group">
 <%= f.text_field :tran_ferry_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :tran_ferry_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
  <tr class="info">
 <td>TOTAL:</td>
 <td class="form-group">
 <%= f.text_field :tran_total, class: "form-control" %></td>
 <td></td>
 </tr>
 
  <tr class="warning">
 <td>Tips:</td>
 <td></td>
 <td class="form-group">
 <%= f.text_area :tran_extra_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 
 </tr>
 <tr>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="success">
 <th >Food</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td>Breakfast</td>
 <td class="form-group">
 <%= f.text_field :food_break_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :food_break_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 <tr>
 <td>Lunch</td>
 <td class="form-group">
 <%= f.text_field :food_lunch_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :food_lunch_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 
 <tr>
 <td>Dinner</td>
 <td class="form-group">
 <%= f.text_field :food_dinner_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :food_dinner_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 
 <tr>
 <td>Snacks</td>
 <td class="form-group">
 <%= f.text_field :food_snacks_cost, class: "form-control" %>
</td>
 <td class="form-group">
 <%= f.text_area :food_snacks_notes, :rows => 3, :cols => 65, class: "form-control" %>
</td>
 </tr>
 <tr class="info">
 <td>TOTAL:</td>
 <td class="form-group">
 <%= f.text_field :food_total, class: "form-control" %>
</td>
 <td></td>
 </tr>

  <tr class="warning">
 <td >Food Tips:</td>
 <td></td>
 <td class="form-group">
 <%= f.text_area :food_extra_notes, :rows => 3, :cols => 65, class: "form-control" %>
 </td>
 
 </tr>
  <tr>
 <td></td>
 <td></td>
 <td></td>
 </tr>
  <tr class="success">
 <th >Lodging</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
  <tr>
 <td class="form-group"><%= f.text_field :lodging, class: "form-control" %></td>
 <td class="form-group"><%= f.text_field :lodging_cost, class: "form-control" %></td>
 <td class="form-group"><%= f.text_area :lodging_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
 <tr class="success">
 <th >Sightseeing</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td class="form-group"><%= f.text_field :sight, class: "form-control" %></td>
 <td class="form-group"><%= f.text_field :sight_cost, class: "form-control" %></td>
 <td class="form-group"><%= f.text_area :sight_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
 <tr class="success">
 <th >Souvenirs:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td class="form-group"><%= f.text_field :souvenirs, class: "form-control" %></td>
 <td class="form-group"><%= f.text_field :souvenirs_cost, class: "form-control" %></td>
 <td class="form-group"><%= f.text_area :souvenirs_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
<tr class="success">
 <th >Bathroom:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td class="form-group"><%= f.text_field :bathroom, class: "form-control" %></td>
 <td class="form-group"><%= f.text_field :bathroom_cost, class: "form-control" %></td>
 <td class="form-group"><%= f.text_area :bathroom_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
 <tr class="success">
 <th >Bank:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td class="form-group"><%= f.text_field :bank, class: "form-control" %></td>
 <td class="form-group"><%= f.text_field :bank_cost, class: "form-control" %></td>
 <td class="form-group"><%= f.text_area :bank_notes, :rows => 3, :cols => 65, class: "form-control" %></td>
 </tr>
 <tr>
 <table>
 <div style="position: relative;">
 <div class="form-group">
            <%= f.submit "CREATE LEG", class: "btn btn-success btn-lg btn-block txt-lg" %>
  </div>
 </div>
 </table>
 </tr>
</table>

 
 
  
  
  <!-- 
  <%= f.text_field :tran_air %>
  <%= f.text_field :tran_train %>
  <%= f.text_field :tran_bus %>
  <%= f.text_field :tran_met %>
  <%= f.text_field :tran_taxi %>
  <%= f.text_field :tran_car %>
  <%= f.text_field :tran_ferry %>
  <%= f.text_field :tran_extra %>
  <%= f.text_field :tran_extra_cost %>
  <%= f.text_field :food_break %>
  <%= f.text_field :food_lunch %>
  <%= f.text_field :food_dinner %>
  <%= f.text_field :food_snacks %>
  <%= f.text_field :food_extra %>
  <%= f.text_field :food_extra_cost %>
   -->
<% end %>

</div>
<div class="col-md-2"></div>
</div>
