<div class="conainter-flex" style="height: 299px;">
<div class="google-maps" style="height: 100%; width: 100%;">
<iframe src="https://mapsengine.google.com/map/embed?mid=zk__mtMQSpNM.ka0ZMaJ6tW1M" width="100%" height="300"></iframe>

<div class="container" style="height:100%;">
		<div class="conht-inter">

			<div class="col-xs-5 col-sm-8 col-md-9">
			</div>
			<div class="col-xs-7 col-sm-4 col-md-3" style="opacity: .95 !important; background-color:#fff; border-radius: 5px 5px 5px 5px;">
			<h2 style="opacity: .99 !important;font-weight: 400; font-size: 30px;">Current Trip Total</h2>
			<div style="margin-top: 20px;margin-bottom: 10px;">
			<a href="/legs" class="btn btn-success btn-block" style="position:relative; "><h1 style="margin:0;">$5,498.34</h1></a>
			</div>
			</div>
			</div>
			
			
				<div class="conht-inter-mobile">

			<div class="col-xs-0 col-sm-8 col-md-9">
			
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3" style="opacity: .95 !important; background-color:#fff; border-radius: 5px 5px 5px 5px;position: relative;
top: 226px;">
			<div style="margin-top: 10px;
margin-bottom: 10px;">

			<a href="/legs" class="btn btn-success btn-block" style="position:relative; "><h3 style="margin:0;"><h4>Current Trip Total: $5,498.34</h4></a>
			
			</div>
			</div>
			</div>

		</div>
</div>


</div>
</div>

<div class="container-flex">
<div style="border-top: #cccccc 4px solid;" ></div>
</div>

<div class="container" style="padding-top: 10px;" >
	<h1 style="opacity: .99 !important;  font-weight: 400; font-size: 40px; text-shadow: 1px 1px #656D78;">YOU SPENT WHAAAT?</h1>

	<div style="background-color: white; opacity: .8;background-attachment: scroll; position: relative;"> 

		<div id="blogs" class="transitions-enabled" style="width: 100% !important;">
<% @legs.each do |leg| %>
<div class="boxleg panel panel-default">
      <%= link_to image_tag(leg.map_img.url(:medium)), leg, class: "htfx", :onClick => "ga('send', 'event', { eventCategory: 'LegsPage', eventAction: 'LegImg', eventLabel: 'Clicked'});" %>

      <div class="panel-body">
      <h3>Location: <%= leg.leg_header %></h3><br>
      <h3 class="loco">Total Leg Cost: <%= leg.total_cost %></h3>
      <h5 style="margin:0;"><i>(see a total break down of our expenses)</i></h5><br>
      <p class="parach"></p><br>
      <div class="fl-rt">
      <%= link_to 'Read More', leg, class: "btn btn-success", :onClick => "ga('send', 'event', { eventCategory: 'LegsPage', eventAction: 'LegBtn', eventLabel: 'Clicked'});" %></div><br>
      <% if leg.user == current_user %>
        <div class="fl-rt2"><%= link_to 'Edit', edit_leg_path(leg) %> |
        <%= link_to 'Delete', leg, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

</div>
</div>


</div>

</div>
</div>