<p id="notice"><%= notice %></p>

<p>
  <strong>Tran air:</strong>
  <%= @leg.tran_air %>
</p>

<p>
  <strong>Tran air cost:</strong>
  <%= @leg.tran_air_cost %>
</p>

<p>
  <strong>Tran air notes:</strong>
  <%= @leg.tran_air_notes %>
</p>

<p>
  <strong>Tran train:</strong>
  <%= @leg.tran_train %>
</p>

<p>
  <strong>Tran train cost:</strong>
  <%= @leg.tran_train_cost %>
</p>

<p>
  <strong>Tran train notes:</strong>
  <%= @leg.tran_train_notes %>
</p>

<p>
  <strong>Tran bus:</strong>
  <%= @leg.tran_bus %>
</p>

<p>
  <strong>Tran bus cost:</strong>
  <%= @leg.tran_bus_cost %>
</p>

<p>
  <strong>Tran bus notes:</strong>
  <%= @leg.tran_bus_notes %>
</p>

<p>
  <strong>Tran met:</strong>
  <%= @leg.tran_met %>
</p>

<p>
  <strong>Tran met cost:</strong>
  <%= @leg.tran_met_cost %>
</p>

<p>
  <strong>Tran met notes:</strong>
  <%= @leg.tran_met_notes %>
</p>

<p>
  <strong>Tran taxi:</strong>
  <%= @leg.tran_taxi %>
</p>

<p>
  <strong>Tran taxi cost:</strong>
  <%= @leg.tran_taxi_cost %>
</p>

<p>
  <strong>Tran taxi notes:</strong>
  <%= @leg.tran_taxi_notes %>
</p>

<p>
  <strong>Tran car:</strong>
  <%= @leg.tran_car %>
</p>

<p>
  <strong>Tran car cost:</strong>
  <%= @leg.tran_car_cost %>
</p>

<p>
  <strong>Tran car notes:</strong>
  <%= @leg.tran_car_notes %>
</p>

<p>
  <strong>Tran ferry:</strong>
  <%= @leg.tran_ferry %>
</p>

<p>
  <strong>Tran ferry cost:</strong>
  <%= @leg.tran_ferry_cost %>
</p>

<p>
  <strong>Tran ferry notes:</strong>
  <%= @leg.tran_ferry_notes %>
</p>

<p>
  <strong>Tran extra:</strong>
  <%= @leg.tran_extra %>
</p>

<p>
  <strong>Tran extra cost:</strong>
  <%= @leg.tran_extra_cost %>
</p>

<p>
  <strong>Tran extra notes:</strong>
  <%= @leg.tran_extra_notes %>
</p>

<p>
  <strong>Food break:</strong>
  <%= @leg.food_break %>
</p>

<p>
  <strong>Food break cost:</strong>
  <%= @leg.food_break_cost %>
</p>

<p>
  <strong>Food break notes:</strong>
  <%= @leg.food_break_notes %>
</p>

<p>
  <strong>Tran total:</strong>
  <%= @leg.tran_total %>
</p>

<p>
  <strong>Food lunch:</strong>
  <%= @leg.food_lunch %>
</p>

<p>
  <strong>Food lunch cost:</strong>
  <%= @leg.food_lunch_cost %>
</p>

<p>
  <strong>Food lunch notes:</strong>
  <%= @leg.food_lunch_notes %>
</p>

<p>
  <strong>Food dinner:</strong>
  <%= @leg.food_dinner %>
</p>

<p>
  <strong>Food dinner cost:</strong>
  <%= @leg.food_dinner_cost %>
</p>

<p>
  <strong>Food dinner notes:</strong>
  <%= @leg.food_dinner_notes %>
</p>

<p>
  <strong>Food snacks:</strong>
  <%= @leg.food_snacks %>
</p>

<p>
  <strong>Food snacks cost:</strong>
  <%= @leg.food_snacks_cost %>
</p>

<p>
  <strong>Food snacks notes:</strong>
  <%= @leg.food_snacks_notes %>
</p>

<p>
  <strong>Food total:</strong>
  <%= @leg.food_total %>
</p>

<p>
  <strong>Food extra:</strong>
  <%= @leg.food_extra %>
</p>

<p>
  <strong>Food extra cost:</strong>
  <%= @leg.food_extra_cost %>
</p>

<p>
  <strong>Food extra notes:</strong>
  <%= @leg.food_extra_notes %>
</p>

<p>
  <strong>Lodging:</strong>
  <%= @leg.lodging %>
</p>

<p>
  <strong>Lodging cost:</strong>
  <%= @leg.lodging_cost %>
</p>

<p>
  <strong>Lodging notes:</strong>
  <%= @leg.lodging_notes %>
</p>

<p>
  <strong>Sight:</strong>
  <%= @leg.sight %>
</p>

<p>
  <strong>Sight cost:</strong>
  <%= @leg.sight_cost %>
</p>

<p>
  <strong>Sight notes:</strong>
  <%= @leg.sight_notes %>
</p>

<p>
  <strong>Souvenirs:</strong>
  <%= @leg.souvenirs %>
</p>

<p>
  <strong>Souvenirs cost:</strong>
  <%= @leg.souvenirs_cost %>
</p>

<p>
  <strong>Souvenirs notes:</strong>
  <%= @leg.souvenirs_notes %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @leg.bathroom %>
</p>

<p>
  <strong>Bathroom cost:</strong>
  <%= @leg.bathroom_cost %>
</p>

<p>
  <strong>Bathroom notes:</strong>
  <%= @leg.bathroom_notes %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @leg.bank %>
</p>

<p>
  <strong>Bank cost:</strong>
  <%= @leg.bank_cost %>
</p>

<p>
  <strong>Bank notes:</strong>
  <%= @leg.bank_notes %>
</p>

<%= link_to 'Edit', edit_leg_path(@leg) %> |
<%= link_to 'Back', legs_path %>
