<p id="notice"><%= notice %></p>
<div class="container">
<!-- <div class="col-md-2"></div> -->
<div class="col-md-9">
<div class="panel panel-default">
<table class="table  table-hover table-bordered">
 <tr class="success">
 <th >Tranportation</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <tr >
 <td>AIR<!-- <%= @leg.tran_air %> --></td>
 <td>$<%= @leg.tran_air_cost %></td>
 <td><%= @leg.tran_air_notes %></td>
 </tr>
 <tr>
  <tr>
 <td>Train<!-- <%= @leg.tran_train %> --></td>
 <td>$<%= @leg.tran_train_cost %></td>
 <td><%= @leg.tran_train_notes %></td>
 </tr>
 <tr>
   <tr>
 <td>Bus<!-- <%= @leg.tran_bus %> --></td>
 <td>$<%= @leg.tran_bus_cost %></td>
 <td><%= @leg.tran_bus_notes %></td>
 </tr>
 
 <tr>
 <td>Metro<!-- <%= @leg.tran_met %> --></td>
 <td>$<%= @leg.tran_met_cost %></td>
 <td><%= @leg.tran_met_notes %></td>
 </tr>

 <tr>
 <td>Taxi<!-- <%= @leg.tran_taxi %> --></td>
 <td>$<%= @leg.tran_taxi_cost %></td>
 <td><%= @leg.tran_taxi_notes %></td>
 </tr>
 
  <tr>
 <td>Car Rental<!-- <%= @leg.tran_car %> --></td>
 <td>$<%= @leg.tran_car_cost %></td>
 <td><%= @leg.tran_car_notes %></td>
 </tr>
 
  <tr>
 <td>Ferry<!-- <%= @leg.tran_ferry %> --></td>
 <td>$<%= @leg.tran_ferry_cost %></td>
 <td><%= @leg.tran_ferry_notes %></td>
 </tr>
  <tr class="info">
 <td>TOTAL:</td>
 <td>$<%= @leg.tran_total %></td>
 <td></td>
 </tr>
 
  <tr class="warning">
 <td>Tips:</td>
 <td><%= @leg.tran_extra_notes %></td>
 <td></td>
 </tr>
 <tr>
 <td></td>
 <td></td>
 <td></td>
 </tr>
 <tr class="success">
 <th >Food</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td>Breakfast<!-- <%= @leg.food_break %> --></td>
 <td>$<%= @leg.food_break_cost %></td>
 <td><%= @leg.food_break_notes %></td>
 </tr>
 <tr>
 <td>Lunch<!-- <%= @leg.food_lunch %> --></td>
 <td>$<%= @leg.food_lunch_cost %></td>
 <td><%= @leg.food_lunch_notes %></td>
 </tr>
 
 <tr>
 <td>Dinner <!-- <%= @leg.food_dinner %> --></td>
 <td>$<%= @leg.food_dinner_cost %></td>
 <td><%= @leg.food_dinner_notes %></td>
 </tr>
 
 <tr>
 <td>Snacks<!-- <%= @leg.food_snacks %> --></td>
 <td>$<%= @leg.food_snacks_cost %></td>
 <td><%= @leg.food_snacks_notes %></td>
 </tr>
 <tr class="info">
 <td>TOTAL:</td>
 <td>$<%= @leg.food_total %></td>
 <td></td>
 </tr>

  <tr class="warning">
 <td >Food Tips:</td>
 <td><%= @leg.food_extra_notes %></td>
 <td></td>
 </tr>
  <tr>
 <td></td>
 <td></td>
 <td></td>
 </tr>
  <tr class="success">
 <th >Lodging</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
  <tr>
 <td><%= @leg.lodging %></td>
 <td>$<%= @leg.lodging_cost %></td>
 <td><%= @leg.lodging_notes %></td>
 </tr>
 <tr class="success">
 <th >Sightseeing</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td><%= @leg.sight %></td>
 <td>$<%= @leg.sight_cost %></td>
 <td><%= @leg.sight_notes %></td>
 </tr>
 <tr class="success">
 <th >Souvenirs:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td><%= @leg.souvenirs %></td>
 <td>$<%= @leg.souvenirs_cost %></td>
 <td><%= @leg.souvenirs_notes %></td>
 </tr>
<tr class="success">
 <th >Bathroom:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td><%= @leg.bathroom %></td>
 <td>$<%= @leg.bathroom_cost %></td>
 <td><%= @leg.bathroom_notes %></td>
 </tr>
 <tr class="success">
 <th >Bank:</th>
 <th>COST</th>
 <th>NOTES</th>
 </tr>
 <tr>
 <td><%= @leg.bank %></td>
 <td>$<%= @leg.bank_cost %></td>
 <td><%= @leg.bank_notes %></td>
 </tr>
<tr class="success">
<td></td>
 <td></td>
 <td></td>
</tr>

 </table>



<%= link_to 'Edit', edit_leg_path(@leg) %> |
<%= link_to 'Back', legs_path %>
</div>
</div>
<!-- <div class="col-md-2"></div> -->

<!--   If we ever want to add a side bar delete both col-md-2 above, make col-md-8 col-md-9 and add in code below -->			   
		 <div class="col-md-3">
					    <div class="panel panel-success">
	                       <div class="panel-heading text-left"><h5>Trekker.co on Instagram <%= link_to 'http://instagram.com/trekkerdotco?ref=badge', :target => "_blank" do %>    
	                       <%= image_tag "instagram.png", :style => "width: 20px; float: right;", class: "instafoot" %></h5>
	                       <% end %>
	                       </div>
	                         <div class="panel-body">
							   	<div class="insta" id="instafeed">
								   	
							   	</div>
							   	

							 </div>
					       </div>
						</div>
					  
				  
			   </div>
				
		
		
<!-- 		instagram -->
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1391563010,
        accessToken: '1391563010.467ede5.619c49990ba54786be11544561bd6a14',
        sortBy: 'most-recent',
        limit: '12',
        resolution: 'thumbnail',
        template: '<a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /></div></a>'
    });
    userFeed.run();

</script>
<!--

<br>
<td>
  <strong>Tran extra:</strong>
  <%= @leg.tran_extra %>
</td>

<td>
  <strong>Tran extra cost:</strong>
  <%= @leg.tran_extra_cost %>
</td>

<td>
  <strong>Tran extra notes:</strong>
  <%= @leg.tran_extra_notes %>
</td>

<td>
  <strong>Food extra:</strong>
  <%= @leg.food_extra %>
</td>

<td>
  <strong>Food extra cost:</strong>
  <%= @leg.food_extra_cost %>
</td>

<td>
  <strong>Food extra notes:</strong>
  <%= @leg.food_extra_notes %>
</td>

-->
