<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <div class="container">
      <h1>Admin Sign in</h1>
    </div>
    </div>
  </div>
  <div class="panel-body">
  <div class="container">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="form-group">
        <h1><%= f.label :email %></h1>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
       <h1> <%= f.label :password %></h1>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <!--
<div class="form-group">
        <div class="checkbox">
         
          <%= f.check_box :remember_me %>
         <h4><%= f.label :remember_me %></h4>
        </div>
      </div>
-->

      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-success btn-lg btn-block txt-lg" %>
      </div>
  </div>
    <% end %>
  </div>
  <div class="panel-footer">
  <div class="container">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>